# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Windows system files
Thumbs.db
.DS_Store
*.part
*.partial
/best.pt
uploads/
models/*
!models/yolo/
!models/yolo/best.pt

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.agents/
MobaXterm*
venv/
